body {
    background-color: bisque;
  }

  #ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    text-align: center;
    width: 100%;
    position: fixed; 
    background-color: rgb(156, 111, 52);
    overflow:hidden; 
    z-index: 2;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 
 
  li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #li1 {
    display: inline;
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #a1 { 
    display: block;
    padding: 14px 16px;
    background-color: rgb(156, 111, 52);
    text-decoration: none; 
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #a1:hover {
    background-color: rgb(51, 22, 5);
  }

div {
    position: absolute;
    top: 60px;
}

footer {
    position: absolute;
    top: 1000px;
    z-index: 1;
  }